In [1]:
import sys
sys.path.append("../NotebookScripts/")

import pandas as pd
from pdf_parser import sentence_parser
from sentence_transformers import SentenceTransformer, util

In [2]:
# Specify the model
mvp_v2_model = SentenceTransformer("all-mpnet-base-v2")

In [3]:
# Declare file path to the Report
file_path = '../SampleReports/2022_HNorman_Report.pdf'

# Retieve Sentences from the report
pdf_sentences = sentence_parser(file_path, print_sentences=True ,num_sentences=10, parsing_method='pypdf')

Report located in specified directory

Summary:
Total number of sentences: 1593

 At her first Olympic outing, Ariarne remarkably took home two individual gold medals in the 200m and 400m freestyle, placing her among Australia’s most successful swimmers.

 Most recently in Birmingham, Ariarne achieved a clean sweep with three individual gold medals in 200m, 400m and 800m freestyle, in addition to a gold medal for her relay team that won the 4 x 200m Freestyle relay.

 Ariarne, at 22 years old, finished all 3 of her individual events with Commonwealth Games records holding the status of one of the most dominant freestyle swimmers in the world as well as being the first athlete in 50 years to take out all 3 gold medals in the Commonwealth Games woman’s freestyle.

 In addition, Ariarne broke Katie Ledecky’s long standing 400m Freestyle World Record at the 2022 Australian Championships, placing her as one of the all-time middle distance greats.

 Ariarne isn’t shy of a challenge and has become an inspirational figure, with the highest engagement figures out of all Australian swimmers.

 Ariarne has proven to be an insightful speaker and a humble role model to future generations quoting in a post-game interview “I’m just from a small town in Tassie and this goes to show that if you believe you can do something you can 100% do it if you work for it”.

 Ariarne also as gracious in defeat as she is in victory quoting “If I went to the Olympics and didn’t win gold in the 400 but I swam the time I did, I would’ve still been happy because I would have swum the best that I could, it just hadn’t been enough on that day”.

 HNHL CONSOLIDATED REVENUES SALES OF PRODUCTS TO CUSTOMERS………………..…….. $2.807bn REVENUE RECEIVED FROM FRANCHISEES…..……………….

 Amid these ongoing and unprecedented challenges, the 8 countries in which our brands operat e have delivered solid results in FY22.

 The results achieved this year are a testament to the strength an d resilience of our integrated retail, franchise, property and digital system.

In [4]:
# Declare test query here
query = "This statement is strongly related to Sustainable product packaging"

In [5]:
import time

# Record the end time
start_time = time.time()

# Create Embeddings for query
query_embedding = mvp_v2_model.encode(query)

# Create Embeddings for retrieved sentences
sentence_embedding = mvp_v2_model.encode(pdf_sentences)

# Compute similarity scores
scores = util.cos_sim(query_embedding, sentence_embedding)[0]

# Record the end time
end_time = time.time()

In [6]:
# Calculate the total time taken
execution_time = end_time - start_time

print("Execution Time:", execution_time, "seconds")

Execution Time: 21.59058904647827 seconds

In [7]:
# Create a DataFrame
df = pd.DataFrame({
    'Sentence_ID': range(1, len(pdf_sentences) + 1),
    'Sentence': pdf_sentences,
    'Score': scores.tolist()
})

In [10]:
sorted_df = df.sort_values(by='Score', ascending=False)
sorted_df

# Uncomment to save the scores
# sorted_df.to_csv('HNorman_score_file.csv', index=False)

      Sentence_ID                                           Sentence     Score
1011         1012  At our company-operated stores we have commenc...  0.715441
1008         1009  Factors such as energy efficiency, water use, ...  0.678294
1004         1005  Customer engagement We undertook a survey of c...  0.659543
1013         1014  In FY22 we have focused on working with suppli...  0.633488
1010         1011  This waste is produced in relation to the prod...  0.585730
...           ...                                                ...       ...
948           949  Just 14, Montana is an aspiring Para-swimmer h... -0.038327
432           433  Ackery 100% 8 [8] n/a n/a n/a C. Mentis 100% 8... -0.038630
944           945  Jye is an Australian middle-distance runner an... -0.045059
6               7  Ariarne also as gracious in defeat as she is i... -0.046288
1               2  Most recently in Birmingham, Ariarne achieved ... -0.060451

[1593 rows x 3 columns]