In [1]:
import sys
sys.path.append("../NotebookScripts/")

import pandas as pd
from pdf_parser import sentence_parser
from mvp_v2_similarity import compute_similarity_v2, save_similarity_results
from sentence_transformers import SentenceTransformer, util

In [2]:
# Specify the model
mvp_v2_model = SentenceTransformer("all-mpnet-base-v2")

In [3]:
# Declare file path to the Report (Use the Report you want to validate)
# There are different sample reports available in the SampleReports Directory
file_path = '../SampleReports'

# Retieve Sentences from the report
pdf_sentences = sentence_parser(file_path, print_sentences=False, parsing_method='pypdf')

Report located in specified directory

Summary:
Total number of sentences: 1593

In [7]:
# Declare test query here
query = "ENTER YOUR QUERY HERE"

In [5]:
# Compute Similarity Scores
v2_results_df =  compute_similarity_v2(model=mvp_v2_model, 
                                       query=query, 
                                       pdf_sentences=pdf_sentences)

# View results
v2_results_df

      Sentence_ID                                           Sentence     Score
1011         1012  At our company-operated stores we have commenc...  0.715441
1008         1009  Factors such as energy efficiency, water use, ...  0.678294
1004         1005  Customer engagement We undertook a survey of c...  0.659543
1013         1014  In FY22 we have focused on working with suppli...  0.633488
1010         1011  This waste is produced in relation to the prod...  0.585730
...           ...                                                ...       ...
948           949  Just 14, Montana is an aspiring Para-swimmer h... -0.038327
432           433  Ackery 100% 8 [8] n/a n/a n/a C. Mentis 100% 8... -0.038630
944           945  Jye is an Australian middle-distance runner an... -0.045059
6               7  Ariarne also as gracious in defeat as she is i... -0.046288
1               2  Most recently in Birmingham, Ariarne achieved ... -0.060451

[1593 rows x 3 columns]

In [6]:
# Saves results to your computer's 'DOWNLOADS' folder
save_similarity_results(v2_results_df, 'name_the_file_here.csv')